{% macro displaysArticles(news_articles) %}
<div class="row no-gutters">
	{% for article in news_articles %}
	<div class="col-sm-6 col-md-4 col-lg-3 col p-2">
		<div class="card bg-default news-card h-100 news-card">
			<img src="{{article.urlToImage}}" class="card-top-image" alt="">
			<div class="card-body">
				<h4>
					{{article.title | truncate(50)}}
				</h4>
				<p class="card-text-small">
					{{article.content | truncate(120)}}
					<a href="{{article.url}}"target="_blank"class="card-link">Read more..</a>
				</p>
				<p class="font-italic-small">
					Publisher: {{article.source.name}}
				</p>
			</div>
		</div>
	</div> 
	{% endfor %}
</div>

{% endmacro %}
